body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:center;
}

#wrap {
	width:700px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	margin:0 auto
}
	
#contenedor {
	width:700px;
	text-align:left;
	margin:0 auto}

#contenedor td.texto{
	font-family:"Times New Roman", Times, serif;
	line-height:5px;
	text-align:center;
}
	
#cabecera{
	border-style:dashed;	
	border-width:thin;
	border-color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	width:700px !important;
	padding:5;
	border-spacing:0;
}

#cabecera td.titulo{
	font-weight:bold;
}

#cabecera tr:hover{
	background-color: #DAEAFE;
	font-weight:400;
}

#detalle{
	border-color:#000;
	border-style:solid;
	border-width:thin;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	width:700px !important;
	padding:0;
	border-spacing:0;
}

#detalle td{
	line-height:15px;
}

#detalle td.titulo{
	text-align:center;
	font-weight:bold;
	border-bottom:thin;
	border-bottom-style:solid;
}

#detalle td.cantidad{
	text-align:center;
	border-right:thin;
	border-right-style:solid;
}

#detalle td.contenido{
	text-align:left;
	padding-left:10px;
	text-transform:uppercase;
	font-style:italic;
}

#detalle td.categoria{
	text-align:left;
	font-weight:bold;
}

#detalle td.promo{
	text-align:left;
	font-weight:bold;
	font-style:italic;
	text-transform:uppercase;
	font-size:12px;
}

#detalle td.precio{
	text-align:right;
	font-style:italic;
	border-left:thin;
	border-left-style:solid;
}

#detalle td.total{
	text-align:right;
	font-weight:bold;
}

